.contact_form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cntf_crd {
    /* background: red; */
    height: 177px;
    /* width: 282px; */
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0px 2px 28px -16px;
    margin: 20px 0;
}

.contact_crd form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form_ipt {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 22px;
    box-shadow: 0px 2px 17px -8px #b5c9c6;
    padding: 10px;
    border-radius: 5px;
}

.error{
    color: red;
}